@import url('https://fonts.googleapis.com/css?family=Homemade+Apple|Playfair+Display:400,700|Raleway&display=swap');


body {
	padding-top: 3rem;
	padding-bottom: 3rem;
}
p {
	margin-top: 0;
	margin-bottom: 2rem;
	color: #5a5a5a;
}

.site-item-frame {
	margin-left:5%;
	width: 90%;
	padding: 5% 5%;
	border: 1px solid #BFBFBF;
	background-color: white;
}		
.site-item-frame-img{
	
	width: 100%;
}
.heading-text {
	font-size: 44px;
	line-height: 1.2;
	color: #0d1724;
	font-family: Playfair Display, serif;
	font-weight: 700;
}
.heading-text-sub {
    font-family: 'Homemade Apple';
	font-weight: 400;
	font-size: 24px;
	color: #960702;
	padding-top: 10px;
	padding-bottom: 5px;
}
.text-sub {
	color: #5a5a5a;
	font-family: Raleway, serif;
}
.button {
	cursor: pointer;
	background-color: #960702;
	border: none;
	color: white;
	padding: 14px 30px 5px 30px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin: 4px 2px;
	font-family: 'Homemade Apple';
	font-weight: 400;
	font-size: 20px;
	margin: 15px 20px;
	width: 100%;
}
.button:hover {
	color: white;
	background-color: #640603;
	text-decoration: none;
}

.site-item-container {
	
}
.site-item {
	padding: 20px;
}
.site-item-divider {
	
}

/* Mobile Phone Button locations on site-item */
.show-hide-mobile {
	display: inline-block;
}
.show-hide-desktop {
	display: none;
}

@media only screen and (min-width: 768px) {
	/* Desktop Phone Button locations on site-item */
	.button {
		margin: 0px;
	}
	.show-hide-mobile {
		display: none;
	}
	.show-hide-desktop {
		display: inline-block;
	}
}